{{ template "header.html" . }}

<div class="content-wrapper">
  <section class="content-header">
    <h1>List of Sales</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Sales</li>
    </ol>
  </section>
  
  <section class="content">
		<div class="box">
			<div class="box-header">
		  	<h3 class="box-title"><a href="/fSalesBuyAdd" class="btn btn-primary btn-xs"><i class="fa fa-plus-circle"></i> Add Data</a></h3>
		  </div>
		  <div class="box-body">
		  	<table id="example1" class="table table-bordered table-striped">
		    	<thead>
		      	<tr>
		        	<th>No.</th>
              <th>Status Payment</th>
							<th>Order Date</th>
							<th>Total Payment</th>
							<th>Action</th>
		        </tr>
		      </thead>
		    	<tbody>
						{{ if . }}
							{{ range . }}
							<tr>
								<td>{{ .ID }}</td>
								<td>{{ .StatusPayment }}</td>
								<td>{{ .OrderDate }}</td>
								<td>{{ .TotalPayment }}</td>
								<td>
									<a href="/fSalesBuyProductAdd?id={{.ID}}" class="btn btn-success btn-xs">Add Product</a>
									<a href="/salesDelete?id={{.ID}}" class="btn btn-danger btn-xs">Delete</a>
								</td>
							</tr>
							{{ end }}
						{{ end }}
			    </tbody>
			  </table>
		  </div>
		</div>
  </section>
</div>

{{ template "footer.html" . }}