{{ template "header.html" . }}

<div class="content-wrapper">
  <section class="content-header">
    <h1>Dashboard
      <small>Sales</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  
  <section class="content">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <div class="callout callout-success">
          <h4>Welcome Get Session ..</h4>
          <p>This is a your dashboard.
        </div>
      </div>
    </div>
  </section>
</div>

{{ template "footer.html" . }}